* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #27aedb;
    text-align: center;
}


button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tours {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.single-tour {
    width: 32%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 0.7rem;
    padding: 0.5rem;
}

.single-tour>img {
    width: 100%;
}

.empty-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    gap: 1rem;
}